.itemList{
 padding-top: 70px; 
}



.ui-brand {
margin-left: 40px;
}
.itemList .ui-icon{
    height: 40px;
    width:40px;
    padding: auto;
}

.itemList .ui-icon img{
    max-height: 40px;
    max-width:40px;
}

.ui-widget .progress {
    margin-bottom: 2px;
}

.ui-widget {
    min-width:20px;
    text-align: right;
    word-wrap: break-word;
    
}

.ui-bigwidget {
    min-width:20px;
    text-align: right;
    word-wrap: break-word;
}
.ui-flag h5 {
    font-size: 26px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.ui-label {
    max-width:40%;
    padding-left: 5px;
}

.bs-callout {
 /*   padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    
    border-radius: 3px;*/
    border-right-width: 5px;
    border-left-width: 5px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-right-color: #ccc;
    border-left-color: #ccc;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-right-color: #66afee;
    border-left-color: #66afee;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-right-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-right-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-right-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-right-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}